body {
  background: linear-gradient(to right, rgb(14, 120, 224), rgb(248, 207, 68));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Используйте нужное значение для создания отступа между Header и остальным контентом */
  margin: 70px 0 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
    padding-top: 80px; /* Высота вашего хедера */
    /* Добавьте другие стили по вашему усмотрению */
}


/* commonStyles.css */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

/* Link styles */
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

.card-img-top {
  width: 200px; /* Установите нужную ширину */
  height: 200px; /* Установите нужную высоту */
  object-fit: cover; /* Обрезать изображения, чтобы они полностью заполняли пространство */
}

.error-message {
  color: red;
  font-size: 14px;
}
